{% load static %}

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
<!-- Initializations -->
<script type="text/javascript">
    // Animations initialization
    new WOW().init();
</script>

<script type="text/javascript">
    $(function () {
        $(document).mousedown(event => {
            let clickover = $(event.target);
            let _opened = $(".navbar-toggler").attr("aria-expanded");
            // console.log(`_opened:${_opened == "true"}`);
            // console.log(clickover);
            if (_opened === "true" && !clickover.is(
                    "#navbar-top, #navbar-top div, #navbar-top ul, #navbar-top li, #navbar-top span, #navbar-top a, #navbar-top i"
                )) {
                $("#navbar-top button.navbar-toggler").click();
                // $(".navbar.fixed-top button.navbar-toggler").attr("aria-expanded", "false");
            }
        });
    });
</script>